@value makerGreen from '../../common/colors.css';

.preview {
  flex-basis: 50%;
  background-color: rgb(223, 132, 147);
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerGreen;
}
